# Simulation outputs
*.vtu
*.pvd
*.log
*.pyc
*.series
*.txt
*.msh
gmsh_frac*

__pycache__/
precice-exports/
precice-profiling/
visualization/
*.py[cod]

env/
venv/
.env

.vscode/
.idea/

.DS_Store
Thumbs.db

*.lock

*.h5
*.hdf5
output/
results/